/* GLOBAL */
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: inherit; /*bu meros olishi psevdo elem.larda*/
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;               /*sticky footer qilish uchun*/
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: #222;
}
img{
    max-width: 100%;
    height: auto;
}
/* CONTAINER */
.container{
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}
/* MAIN CONTENT */
.main-content{
    flex-grow: 1;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    font-size: 30px;
    border: 10px solid #000;
    background-color: aquamarine;
    transition: transform 0.4s ease;
    /* transform-origin: center top; qaysi nuqta asosida harakatlanishi */
}

/* tranlateX, tranlateY, scale-mashtablashtirish, rotate, skew */
.box:hover{
    transform: perspective(2000px) rotateX(40deg);
    /* transform: scale(1.5); */
    transform: translatey(100px);
    /* transform: scale(1.5); */
    /* transform: scaleX(1.5); */
    /* transform: scaleX(2.5) scaleY(0.5); */
    /* transform: rotate(180deg); */
    /* transform: rotateX(180deg); */
    /* transform: rotateY(180deg); */
    /* transform: skew(45deg); */
}

/* .windows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 700px;
    background: #000;
    border: 20px solid red;
}
.right-windows {
    width: 50%;
    height: 100%;
    border: 10px solid aquamarine;
    background-color: cadetblue;
    transition: all 0.4s ease;
    transform-origin: right top ;
}
.left-windows {
    width: 50%;
    height: 100%;
    border: 10px solid aquamarine;
    background-color: cadetblue;
    transition: all 0.4s ease;
    transform-origin: left top ;
}
.windows:hover .left-windows{
    transform: perspective(1000px) rotateY(70deg);
}
.windows:hover .right-windows{
    transform: perspective(1000px) rotateY(70deg);
} */

.wall{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/brick-wall.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.windows{
    display: flex;
    width: 600px;
    border: 20px ridge rgb(240, 213, 95);
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.8);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq-91TuDLmdUUhe9yBeU7B1mZnU6I9PkFBEyNQb1csDg&s);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.box-windows{
    width: 50%;
    height: 600px;
    border: 20px ridge rgb(229, 157, 101);
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease;

}

.left{
    transform-origin: left center;
}
.right{
    transform-origin: right center;
}

.windows:hover .left{
    transform: perspective(2000px) rotateY(-75deg);
}
.windows:hover .right{
    transform: perspective(2000px) rotateY(75deg);
}